
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitap Ekle</h2>
<form method="post">
    Kitap Adı: <input type="text" name="kitapAdi" />
    Yazar: <input type="text" name="yazar" />
    Fiyat: <input type="text" name="fiyat" />
    Tarih: <input type="date" name="tarih" />
    <button type="submit">Kaydet</button>
</form>

