
@{
    ViewBag.Title = "Giris";
}

<h2>Giris</h2>
<div id="row" >
    <form method="post">
        Kullanici Adı: <input type="text" name="kullaniciAdi"/>
        Sifre: <input type="text" name="sifre" />
        <button type="submit">Giriş Yap</button>
    </form>
</div>
